.basa__handle {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0px;
    top: 50%;

    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    transform: translate(50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 5px;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;

}

.basa__label {
    position: absolute;
    top: 16px;
    padding: 8px;

    color: white;

    background-color: #000000;
}

.basa__label--left {
    left: 25%;
    transform: translateX(-50%);
}

.basa__label--right {
    right: 25%;
    transform: translateX(50%);
}
